.idea

.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.terraform.lock.hcl

# Sensitive data files
terraform.tfvars
*.auto.tfvars
*.tfvars
variables.tf.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc